@keyframes changeBackgroundImage {
    
    0% {
        background-image: url('../../assets/img/bg/bg-1.min.png');
    }

    25% {
        background-image: url('../../assets/img/bg/bg-2.min.png');  
    }

    50% {
        background-image: url('../../assets/img/bg/bg-3.min.png');
    }

    75% {
        background-image: url('../../assets/img/bg/bg-4.min.png');
    }

    100% {
        background-image: url('../../assets/img/bg/bg-1.min.png');
    }
}

.at-bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0;
    right: 0;
    left: 0;
    animation-duration: 40s;
    animation-name: changeBackgroundImage;
    animation-iteration-count: infinite;
    animation-direction: linear;
}
