.fa-trophy::before {
    content: "\f091"; 
}

.fa-flask::before {
    content: "\f0c3"; 
}

.fa-shield::before {
    content: "\f132"; 
}

.atd-stats {

    .atd-stats-metric {
        margin: 0 0 14px 0;

        i {
            font-size: 1.8em;
            display: inline-block;
            vertical-align: middle;
            vertical-align: middle;
            margin: 0 8px 0 0;
            color: var(--theme-color-2);
        }

        .atd-stats-metric__label {
            font-family: var(--theme-font-family);
            display: inline-block;
            vertical-align: middle;
            font-weight: 500;
            font-size: 1.1em;
            margin: 0;
        }

        .atd-stats-metric__value {
            display: inline-block;
            vertical-align: middle;
            font-family: var(--theme-font-family);
            font-weight: bold;
            font-size: 1.6em;
            margin: 0;
        }
    }
}
