.at-stats {

    .at-stats-metric {
        margin: 0 0 10px 0;

        i {
            font-size: 1.8em;
            display: inline-block;
            vertical-align: middle;
            margin: 0 8px 0 0;
            color: var(--theme-color-2);
        }

        .at-stats-metric__label {
            font-family: var(--theme-font-family);
            display: inline-block;
            font-weight: 500;
            font-size: 1.1em;
            margin: 0;
        }

        .at-stats-metric__value {
            display: inline-block;
            font-family: var(--theme-font-family);
            font-weight: bold;
            font-size: 1.6em;
            margin: 0;
        }
    }
}
