@import '../mixins';

.atd-home {
    margin: 40px 0 0 0;

    .atd-card {

        h1 {
            font-family: var(--theme-font-family);    
        }

        p {
            font-family: var(--theme-font-family); 
            font-size: 1.1em;    
        }

        .atd-axie-watermark-1 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            position: absolute;
            right: 20px;
            top: -92px;
            width: 284px;
            height: 284px;

            @include screen-tablet-and-mobile {
                position: absolute;
                right: 0px;
                top: -54px;
                width: 134px;
                height: 138px;
            }
        }

        .atd-axie-watermark-2 {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            position: absolute;
            width: 186px;
            height: 154px;
            bottom: 26px;
            right: -14px;
            transform: scaleX(-1);

            @include screen-tablet-and-mobile {
                position: absolute;
                width: 98px;
                height: 108px;
                bottom: -54px;
                left: 0px;
                right: unset;
            }
        }
    }

    .atd-ads {
        text-align: center;
        margin: 20px 0;
        padding: 10px 0;
    }
}
