<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= preact.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>">
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.canonical_url %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <% preact.headEnd %>
  </head>
  <body>
    <script>
      window.GLOBAL_INLINE_ENVIRONMENT = '<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.environment %>';
    </script>
    <% preact.bodyEnd %>
  </body>
</html>
